html,body{
    height:100%;
    max-height:100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #000; /* #58595B */
    font-size: 13px;
    line-height: 18px;
}
*{
    margin:0;
    padding:0;
}
a {
    outline: none;
    text-decoration: none;
    color: #000;
}
p {
    margin-bottom: 10px;
}
div {
    background:transparent;
}
img {
    background:transparent;
}
.clear {
    clear: both; 
    margin: 0; 
    padding: 0;
}

section {
    width: 100%; 
    display: block; 
    margin: 0; 
    padding: 0;
    position: relative;
}
header, article, aside, nav {
    display: block; 
    margin: 0; 
    padding: 0;
}
.content {
    width: 960px;  
    margin: 0 auto;
    display: block; 
    background: none; 
    padding: 0;
}


.sprite {
    display: block;
    background-image: url(../images/sprite.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}







/* HEADER NAV */
.header {
    position:fixed;
    top: 0px;
    width:100%;
    height:37px;
    overflow:hidden;
    z-index:999;
    overflow: visible;
    background-color: #363636;   
}

.header .h_logo {
    width: 225px;
    height: 37px;
    float: left;
}
.h_logo a{
    text-decoration: none;
}
.logo {
    width: 230px;
    height: 34px;
    margin-top: 3px;
    display: inline-block;
    background-position: -4px -86px;
}
.logo_title {
    display: inline-block;
    padding-left: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}

nav { 
    display: block;
    background: #363636;
    height: 37px;
    width: 960px;
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    width: 650px;
    float: left;
    padding: 0 0 0 20px;
}
nav ul li {
    float: left; 
    padding: 9px 13px;
    margin-right: 5px;
    min-width: 75px;
    max-width: 150px;
    height: 19px;
    overflow: hidden;
    background: none;
    text-align: center;
}
nav ul li a {
    padding-top: 10px;
    text-align: left; 
    outline:none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
nav ul li:hover, nav ul li.active {
    background: #fff;
    height: 24px;
    -moz-box-shadow: 0px 3px 3px -1px #DDD;
    -webkit-box-shadow: 0px 3px 3px -1px #DDD;
    box-shadow: 0px 3px 3px -1px #DDD;
    border-radius: 0 0 5px 5px;
    
}
nav ul li:hover a, nav ul li.active a {
    color: #000;
}


/* SECTIONS */
.home {background: url(../images/tree.png) center top no-repeat; height: 970px; margin-top: -180px;}
.services {}
.why {background: url(../images/why.jpg) center top no-repeat; height: 970px;}
.process {background: url(../images/process.jpg) center top no-repeat; height: 970px;}
.contact {}
.contact {background:url(../images/section2.png) center -190px  no-repeat; margin:0; height: 1100px;padding: 300px 0 0 0;}









/*  BLOCKS   */

.block {
    width: 100%;
}
.b_top, .b_bottom {   
    height: 143px;
    background: url(../images/blocks.png) no-repeat center 0px;
}
.b_center {
    width: 100%;
    min-height: 50px;
}


/* block home */
.block_home {
    padding-top: 300px;
}

.block_home .b_top {
    background-position: center -2370px;
}
.block_home .b_bottom {
    background-position: center -2519px;
}
.block_home .b_center {
    height: 170px;
    background-color: #fff;
}
.block_home .home_logo {
    width: 300px;
    height: 180px;
    float: left;
    background-position: 0px -158px;
    margin: 5px 90px 0 90px;
}
.block_home .home_desc {
    width: 350px;
    margin: 40px 0 0 10px;
    float: left;
}


/* SERVICES */

.services .section_title {
    width: 100%;
    background-color: #719A32;
    padding: 45px 0;
    margin-top: 150px;
}

.services .section_title h1 {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 58px;
    font-weight: 400;
    color: #fff;
}
.services article {
    position: relative;
}
.service_article_0 {
    z-index: 200;
}
.services .block .content {
    width: 460px;
    text-align: center;
    font-size: 14px;
    padding: 20px 0 25px 0;
}
.services .block .b_center {
    min-height: 30px;
}


.block_service_1 .b_top {
    background-position: center -1476px;
}
.block_service_1 .b_bottom {
    background-position: center -1625px;
}
.block_service_1 .b_center {
    background-color: #FCD9B8;
}

.block_service_2 .b_top {
    background-position: center -1774px;
}
.block_service_2 .b_bottom {
    background-position: center -1923px;
}
.block_service_2 .b_center {
    background-color: #FEEBB3;
}

.block_service_3 .b_top {
    background-position: center -292px;
}
.block_service_3 .b_bottom {
    background-position: center -439px;
}
.block_service_3 .b_center {
    background-color: #CAE299;
}

.block_service_4 .b_top {
    background-position: center -880px;
}
.block_service_4 .b_bottom {
    background-position: center -1029px;
}
.block_service_4 .b_center {
    background-color: #F5AF7A;
}

.block_service_5 .b_top {
    background-position: center -0px;
}
.block_service_5 .b_bottom {
    background-position: center -146px;
}
.block_service_5 .b_center {
    background-color: #94AA79;
}

.block_service_6 .b_top {
    background-position: center -1178px;
}
.block_service_6 .b_bottom {
    background-position: center -1327px;
}
.block_service_6 .b_center {
    background-color: #F7C768;
}

.block_service_7 .b_top {
    background-position: center -585px;
}
.block_service_7 .b_bottom {
    background-position: center -731px;
}
.block_service_7 .b_center {
    background-color: #E1EA86;
}

.block_service_8 .b_top {
    background-position: center -880px;
}
.block_service_8 .b_bottom {
    background-position: center -1029px;
}
.block_service_8 .b_center {
    background-color: #F5AF7A;
}

.block_service_9 .b_top {
    background-position: center -2072px;
}
.block_service_9 .b_bottom {
    background-position: center -2221px;
}
.block_service_9 .b_center {
    background-color: #FFFCD8;
}
.block_oder {
    position: relative;
    z-index: 300;
}
.block_oder .b_top {
    background-position: center -2072px;
}
.block_oder .b_bottom {
    background-position: center -2221px;
}
.block_oder .b_center {
    background-color: #FFFCD8;
}
.block_oder .content {
    width: 960px !important;
    text-align: left !important;
}


.service_article_1 {
    width: 100%;
    height: 800px;
    background: url(../images/tree.png) center top no-repeat;
    z-index: 150;
}
.service_article_1 .content {
    width: 350px;
    padding: 500px 55px 0 555px;
}

.service_article_2 {
    width: 100%;
    height: 930px;
    background: url(../images/house.png) center top no-repeat #fff;   
    z-index: 180;
}
.service_article_2 .content {
    width: 400px;
    padding: 150px 560px 0 0;
}
.article_title {
    width: 100%;
    background-color: #719A32;
    padding: 30px 0;
    margin-top: -20px;
}
.article_title h2 {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
}

.leaf {
    width: 155px;
    height: 190px;
    padding: 60px 195px 0px 90px;
    margin: 100px 0 0 250px;
    position: relative;
    color: #fff;
    background-position: 0px -380px;
    font-size: 15px;
    line-height: 19px;
}

.faces {
    width: 960px;
    margin: 0 auto;
    display: block;
    background: none;
    padding: 0;
    width: 350px;
    padding: 500px 655px 0 0px;
    top: -726px;
    position: relative;
}

.face {
    background: url(../images/sprite.png);
}

.face-01 {
    position: absolute;
    top: 449px;
    left: 252px;
    background-position: 0px 0px;
    display: block;
    height: 36px;
    width: 30px;
}

.face-02 {
    position: absolute;
    top: 461px;
    left: 301px;
    background-position: -40px 0px;
    display: block;
    height: 41px;
    width: 34px;
}

.face-03 {
    position: absolute;
    top: 492px;
    left: 252px;
    background-position: -260px 0px;
    display: block;
    height: 60px;
    width: 48px;
}

.face-04 {
    position: absolute;
    top: 447px;
    left: 183px;
    background-position: -200px 0px;
    display: block;
    height: 58px;
    width: 47px;
}

.face-05 {
    position: absolute;
    top: 509px;
    left: 142px;
    background-position: -529px 0px;
    display: block;
    height: 112px;
    width: 90px;
}

.face-06 {
    position: absolute;
    top: 490px;
    left: 45px;
    background-position: -444px 0px;
    display: block;
    height: 103px;
    width: 80px;
}

.face-07 {
    position: absolute;
    top: 408px;
    left: 90px;
    background-position: -260px 0px;
    display: block;
    height: 60px;
    width: 48px;
}

.face-08 {
    position: absolute;
    top: 435px;
    left: 12px;
    background-position: -200px 0px;
    display: block;
    height: 58px;
    width: 47px;
}

.face-09 {
    position: absolute;
    top: 400px;
    left: 202px;
    background-position: -40px 0px;
    display: block;
    height: 41px;
    width: 34px;
}

.form_row {
    margin: 10px 0;
}
.form_title {
    color: #D43F1C;
    font-size: 14px;
    font-weight: bold;
    margin: -50px 0 20px 0;
}
.field-description {
    padding: 0 20px 0 0;
    width: 290px;
    float: left;
}
.field-input {
    width: 520px;
    float: left;
}
.field-input input {
    width: 100%;
    height: 22px;
    border: 1px solid rgb(219, 219, 219);
    outline: none;
    padding: 1px 5px;
}